@import "../../scssVariables.scss";

@mixin thousandPixel {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

.user_container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  @include thousandPixel() {
    flex-direction: column;
    text-align: center;
    gap: 3px;
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

    @include thousandPixel() {
      width: 40px;
      height: 40px;
    }
  }
  p {
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    line-height: 20px;
    color: $normal-font-color;
    z-index: 999;
    @include thousandPixel() {
      font-size: 13px;
    }
  }

  &:hover {
    background-color: whitesmoke;
    transition: 0.2s ease;
    p {
      color: black;
    }
  }
}
