@import "../../scssVariables.scss";
.home_container {
  flex: 1;
  display: flex;
  overflow: hidden;

  .select_someone_container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: $normal-font-color;
      font-size: 28px;
      text-align: center;
    }
    &.dark {
      background-color: $dark-form-color;
    }

    &.light {
      background-color: whitesmoke;
    }
  }
  .messages_container {
    flex: 1;
    .messages_navbar_wrapper {
      // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      // border-bottom: 1px solid $normal-font-color;
      .message_friend_wrapper {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 54px;
        .user_info_wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid $normal-font-color;
          }
          h3 {
            font-size: 18px;
            font-weight: 500;
            color: $hilight-color;
          }
        }

        .message_navbar_icon_wrapper {
          display: flex;
          align-items: center;
          gap: 20px;
          .message_navbar_icon {
            font-size: 25px;
            color: $normal-font-color;
          }
        }
      }
    }

    .messages_input_container {
      height: 55px;
      display: flex;
      align-items: center;
      background-color: $light-background-color;
      position: relative;
      .sending_loading_container {
        position: absolute;
        top: -30px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        width: max-content;
        h3 {
          font-size: 18px;
          color: $hilight-color;
          font-weight: 400;
        }
        .loading_circle_container {
          width: 30px;
          height: 30px;
          border: 2px solid;
          border-color: $hilight-color transparent $hilight-color transparent;
          border-radius: 50%;
          animation: spin 1s linear infinite;
          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
      .uploadImage_container {
        width: 250px;
        height: 250px;
        position: absolute;
        right: 130px;
        top: -260px;
        z-index: 10000;
        .uploadImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        .remove_image_icon {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 25px;
          height: 25px;
          color: whitesmoke;
          cursor: pointer;
          background-color: $hilight-color;
          border-radius: 50%;
        }
      }

      input {
        flex: 1;
        outline: none;
        padding-left: 20px;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 20px;
        font-weight: 400;
      }
      .messages_icon_container {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 20px;

        .input_container_icon {
          font-size: 30px;
          color: $normal-font-color;
          cursor: pointer;
        }
      }
      button {
        height: 100%;
        padding: 0 40px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        background-color: $hilight-color;
        color: white;
      }
    }
    &.dark {
      background-color: $dark-form-color;
    }

    &.light {
      background-color: whitesmoke;
    }
  }
}
