@import "../../scssVariables.scss";

.emoji_conatiner_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  .selected_emoji {
    color: $hilight-color;
    width: 20px;
    height: 20px;
  }
  .emoji_container {
    display: flex;
    gap: 5px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.3s ease;
    height: 0px;
    &.active {
      transform: translateY(0px);
      transition: 0.3s ease;
      opacity: 1;
      pointer-events: visible;
      height: max-content;
    }
    .emoji_icon {
      color: $normal-font-color;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &:hover {
        color: $hilight-color;
        transform: translateY(-5px);
      }
    }
  }
}
