@import "../../scssVariables.scss";

.messages_area_container {
  position: relative;
  height: calc(100vh - 110px);
  padding: 0 20px;
  overflow: scroll;

  .scroll_to_bottom_icon {
    position: fixed;
    width: 40px;
    height: 40px;
    color: $hilight-color;
    bottom: 70px;
    cursor: pointer;
    z-index: 10000;
  }
  h1 {
    color: $normal-font-color;
  }
}
