@import "../../scssVariables.scss";

@mixin fourEighty {
  @media screen and (max-width: 480px) {
    @content;
  }
}

.navbar_container {
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include fourEighty() {
    width: 70px;
    align-items: center;
  }

  .navbar_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    .navbar_header {
      color: $hilight-color;
      font-size: 25px;
      font-weight: 500;

      @include fourEighty() {
        display: none;
      }
    }

    .navbar_header_icon {
      width: 20px;
      height: 20px;
      color: $hilight-color;
      cursor: pointer;
    }
  }

  .navbar_middle_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    .navbar_search_container {
      margin: 15px 0px;
      display: flex;
      border: 1px solid $normal-font-color;
      padding: 10px 5px;
      gap: 5px;
      align-items: center;

      border-radius: 5px;

      @include fourEighty() {
        padding: 0px;
        border: none;
        justify-content: center;
        gap: 0;
      }
      .navbar_search_icon {
        color: $normal-font-color;

        @include fourEighty() {
          padding: 0px;
          border: none;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }

      input {
        outline: none;
        background-color: transparent;
        border: none;
        flex: 1;
        color: $normal-font-color;
        &::placeholder {
          color: $normal-font-color;
        }

        @include fourEighty() {
          display: none;
        }
      }
    }

    .users_wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .currentUser_container {
    border-top: 0.5px solid $normal-font-color;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .currentUser_info_wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      padding: 10px;
      border-radius: 9px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $hilight-color;
      }

      h3 {
        color: $normal-font-color;
        font-weight: 500;
      }

      &:hover {
        background-color: whitesmoke;
        h3 {
          color: black;
        }
      }
    }
  }

  .logout_wrapper {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    justify-content: space-between;
    color: $hilight-color;
    cursor: pointer;
    // border: 1px solid $hilight-color;
    border-radius: 9px;
    h3 {
      font-weight: 900;
      font-size: 20px;
      @include fourEighty() {
        display: none;
      }
    }

    .logout_icon {
      width: 25px;
      height: 25px;
    }

    &:hover {
      background-color: whitesmoke;
      transition: 0.2s ease;
      border-radius: 5px;
    }
  }
}
